@model SalesWebMvc.Models.ViewModels.SalesFormViewModel

@{ 

    DateTime minDate = DateTime.Parse(ViewData["minDate"] as string);

    DateTime maxDate = DateTime.Parse(ViewData["maxDate"] as string);
}

@foreach (var group in Model.Sales.GroupBy(s => s.Seller))

{

    <div class="panel panel-primary">

        <div class="panel-heading">

            <h4 class="panel-title">  @group.Key.Name        (@group.Key.QntSales()) Total: @group.Key.TotalSales(minDate, maxDate).ToString("F2")</h4>

        </div>

        

        <div >

            <table class="table table-hover table table-responsive mytable ">

                <thead>

                    <tr class="list-group-item-heading">

                        <th>

                            Date

                        </th>

                        <th>

                            Amount

                        </th>

                        <th>

                            Department

                        </th>

                        <th>

                            Status

                        </th>

                    </tr>

                </thead>

                <tbody>


                    @foreach (var item in group)

                    {
                        <tr>

                            <td>

                                @Html.DisplayFor(modelItem => item.Data)

                            </td>

                            <td>

                                @Html.DisplayFor(modelItem => item.Amount)

                            </td>

                            <td>

                                @Html.DisplayFor(modelItem => item.Seller.Department.Nome)

                            </td>

                            <td>

                                @Html.DisplayFor(modelItem => item.Status)

                            </td>

                        </tr>

                    }

                </tbody>

            </table>

        </div>
    </div>

}